Source: mcollective-filemgr
Homepage: https://github.com/puppetlabs/mcollective-filemgr-agent
Section: utils
Priority: extra
Maintainer: Puppet Labs
Build-Depends: cdbs, debhelper
Standards-Version: 3.8.0

Package: mcollective-filemgr-agent
Architecture: all
Depends: mcollective-filemgr-common(= ${binary:Version})
Description: File Manager

Package: mcollective-filemgr-client
Architecture: all
Depends: mcollective-filemgr-common(= ${binary:Version})
Description: File Manager

Package: mcollective-filemgr-common
Architecture: all
Depends: mcollective-common(>= 2.2.1)
Description: File Manager
